@charset "utf-8";/* margin and padding */
@media screen and (min-width:750px){
    html{
        width: 375px!important;
        height: 590px!important;
        margin:200px auto
    }
}
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,img,form,applet,fieldset,legend,button,input,textarea,th,table,tr,td{margin:0;padding:0;border:none;}

/* bady */
body{font-family:"微软雅黑";font-size:12px;color:#666;min-width:320px;max-width:640px;position:relative;margin:0 auto;height:100%;}
body,div,fieldset,form,h1,h2,h3,h4,h5,h6,html,p{-webkit-text-size-adjust:none}
input::-ms-clear{display:none;}/*清楚文本框X*/
input,select,textarea{outline:none;cursor:pointer;-webkit-appearance:none;}
html{-webkit-user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0);background:#f6f9fc;width:100%;height:100%;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color:#000;}

/* img */
img{padding:0;margin:0;vertical-align:top;border:none;}
i,em{font-style:normal;}

/* div */
li,ul{list-style:none;outside:none;}
.clear{clear:both;height:0;width:100%;}
a,b,i,span,input,select,dl,dd,dt,p{font-family:"微软雅黑";}

/* font */
a{color:#333;text-decoration:none;}
a:hover,a:active,a:focus{text-decoration:none;}


@-webkit-keyframes op{0%{opacity:1}50%{opacity:0}100%{opacity:1}}
@-webkit-keyframes op2{0%{opacity:1}50%{opacity:0.5}100%{opacity:1}}
@-webkit-keyframes go{0%{-webkit-transform:translate(0,0)}50%{-webkit-transform:translate(0,-20px)}100%{-webkit-transform:translate(0,0)}}

.music{width:8%;height:auto;position:fixed;top:15px;right:15px;z-index:9999;cursor:pointer;}
.music-p{width:140%;height:auto;position:absolute;top:-30%;right:-30%;}
.music img,.music-p img{width:100%;height:auto;}

.wrap{margin:0px auto;position:relative;overflow:hidden;width:100%;height:100%;}
.swiper-container,.swiper-slide,.swiper-wrapper{width:100%;height:100%;}

.swiper-slide>div{width:100%;height:100%;}

.swiper-slide img{width:100%;}


.page_01{width:100%;height:100%;position:relative;}
.page_01_00{width:100%;height:100%}
.page_01_00>img{width:100%;height:100%}
.page_01_01{width:50%;position:absolute;left:25%;top:0}
.page_01_02{width:100%;position:absolute;left:0;top:0}
.page_01_03{width:100%;position:absolute;left:0;top:0}
.page_01_04{width:22%;position:absolute;left:17%;top:4.5rem}
.page_01_05{width:25%;position:absolute;left:64%;top:2.8rem}
.page_01_06{width:24%;position:absolute;left:38%;top:3.3rem}
.page_01_07{width:14%;position:absolute;left:53.2%;top:2.6rem;}
.page_01_08{width:35%;position:absolute;left:32.5%;top:5.8rem;}
.page_01_09{width:30%;position:absolute;left:35%;top:6.3rem;}
.page_01_10{width:60%;position:absolute;left:20%;bottom: .5rem;}


.page_02_00{width:50%;position:absolute;right:.5rem;bottom: 1rem}
.page_02_01{width:70%;position:absolute;left:15%;top:.6rem}
.page_02_02{width:90%;position:absolute;left:5%;top:1.23rem;text-align: center}
.page_02_02 p{font-size:.28rem;font-family: "AdobeHeitiStd-Regular";color: #d6ba7e}
.page_02_03{width:70%;position:absolute;left:15%;top:1.6rem}
.page_02_04{width:65%;position:absolute;left:15%;top:2.5rem}
.page_02_05{width:69%;position:absolute;left:17%;top:2.4rem}
.page_02_06{width:70%;position:absolute;left:15%;top:6.3rem}
.page_02_07{width:64%;position:absolute;left:18%;top:6.5rem}
.page_02_07 h3{font-size: .24rem;font-family: "SourceHanSansCN-Normal";line-height:2em;color: #d6ba7e}
.page_02_07 p{font-size: .22rem;font-family: "SourceHanSansCN-Normal";line-height: 1.5em;color: #d6ba7e;text-indent: .5rem}


.page_03_00{width: 26%;position: absolute;left: 37%;top: 2.15rem;}
.page_03_01{width: 20%;position: absolute;left: 10%;top: 4.2rem}
.page_03_02{width: 70%;position: absolute;left: 15%;top: 4.6rem}
.page_03_03{width: 64%;position: absolute;left: 18%;top: 4.8rem}
.page_03_03 p{text-align: center;font-size: .24rem;font-family: "SourceHanSansCN-Normal";color: #d6ba7e }
.page_03_04{width: 70%;position: absolute;left: 15%;top: 6.8rem}
.page_03_05{width: 29%;position: absolute;left: 15.2%;top: 7.17rem}
.page_03_06{width: 41%;position: absolute;left: 44%;top:6.8rem}
.page_03_07{width: 29%;height:.38rem;position: absolute;left: 15%;top:6.83rem}
.page_03_07 p{height:100%;text-align: center;font-size: .2rem;font-family: "SourceHanSansCN-Normal";line-height: 1.8em;color: #d6ba7e}
.page_03_08{width: 41%;height:.38rem;position: absolute;left: 44%;top:9.6rem}
.page_03_08 p{height:100%;text-align: center;font-size: .2rem;font-family: "SourceHanSansCN-Normal";line-height: 1.8em;color: #d6ba7e}
.page_03_09{width: 38%;position: absolute;left: 31%;top: 2rem}


.page_04_00{width:.4rem;height: 2rem;position: absolute;left: 20%;top: 2.7rem}
.page_04_00 p{font-size: .3rem;font-family: "SourceHanSansCN-Normal";line-height:1.2em;color: #d6ba7e}
.page_04_01{width: 3%;position: absolute;left: 26%;top: 2.55rem}
.page_04_02{width: 55%;position: absolute;left: 35%;top: 2.35rem}
.page_04_03{width: 45%;position: absolute;left: 8%;top: 4.8rem}
.page_04_04{width: 43%;position: absolute;left: 25%;top: 7.8rem}
.page_04_05{width: 45%;position: absolute;left: 45%;top: 5.4rem}
.page_04_06{width: 20%;position: absolute;left: 75%;top: 1.7rem}

.page_05 p,.page_06 p{font-size: .25rem;color: #d6ba7e;text-align: center}
.page_05_00{width: 25%;position: absolute;left: 6%;top: 2.5rem}
.page_05_01{width: 21%;position: absolute;left: 8.25%;top: 2.61rem}
.page_05_02{width: 25%;position: absolute;right: 6%;top: 3.2rem}
.page_05_03{width: 21%;position: absolute;right: 7.8%;top: 3.31rem}
.page_05_04{width: 25%;position: absolute;left: 8%;top: 5rem}
.page_05_05{width: 21%;position: absolute;left: 10.25%;top: 5.11rem}
.page_05_06{width: 25%;position: absolute;right: 6%;top: 6.7rem}
.page_05_07{width: 21%;position: absolute;right: 7.8%;top: 6.81rem}
.page_05_08{width: 25%;position: absolute;left: 10%;top: 8rem}
.page_05_09{width: 21%;position: absolute;left: 12.2%;top: 8.11rem}
.page_05_10{width: 60%;position: absolute;left: 18%;top: 3.2rem}
.page_05_11{width: 20%;position: absolute;left: 40%;bottom: .5rem}
.page_05_11 p{font-size: .30rem;}
.page_05_12{width: 40%;position: absolute;left: 25%;top: 2.8rem}
.page_05_13{width: 14%;position: absolute;left: 68%;top: 2.5rem}
.page_05_14{width: 30%;position: absolute;left: 38%;top: 4rem}
.page_05_15{width: 40%;position: absolute;left: 34%;top: 4.3rem}
.page_05_16{width: 40%;position: absolute;left: 35%;top: 5.7rem}
.page_05_17{width: 50%;position: absolute;left: 30%;top: 6rem}
.page_05_18{width: 47%;position: absolute;left: 22%;top: 7.2rem}
.page_05_19{width: 40%;position: absolute;left: 35%;top: 9rem}
.page_05_20{width: 30%;position: absolute;left: 55%;top: 10.5rem}


.page_06_00{width: 70%;position: absolute;left: 15%;bottom: 1rem}


.page_07_00{width: 28%;position: absolute;left: 9%;top: 2.7rem}
.page_07_01{width: 70%;position: absolute;left: 15%;top: 3.2rem}
.page_07_01 img{height: 100%}
.page_07_02{width: 54%;position: absolute;left: 23%;top: 4.2rem}
.page_07_02 p{text-indent: .5rem;font-size: .25rem;font-family: "SourceHanSansCN-Normal";line-height: 1.8em;color: #d6ba7e}
.page_07_03{width: 25%;position: absolute;left: 65%;top: 5.6rem}
.page_07_04{width: 60%;height:.8rem;position: absolute;left: 20%;top: 7rem}
.page_07_04 a{display: inline-block;width: 100%;height: 100%}
.page_07_04 button{width:100%;height:100%;font-size: .25rem;font-family: "SourceHanSansCN-Normal";line-height: 1.8em;color: #fff;background-color:#d5b982;border-radius: .1rem}


.page_08_00{width: 100%;position: absolute;left: 0;top: 2rem;text-align: center}
.page_08_00 p{font-size: .28rem;font-family: "SourceHanSansCN-Normal";line-height: 1.8em;color: #d6ba7e}
.page_08_01{width: 30%;position: absolute;left: 22%;top:2.6rem}
.page_08_02{width: 26.2%;position: absolute;left: 52%;top:2.6rem}
.page_08_03{width: 60%;position: absolute;left: 20%;top:4.8rem}
.page_08_04{width: 54%;position: absolute;left: 23%;top: 5rem}
.page_08_04 p{text-indent: .5rem;font-size: .22rem;font-family: "SourceHanSansCN-Normal";line-height: 1.5em;color: #d6ba7e}
.page_08_05{width: 60%;position: absolute;left: 20%;top: 7.8rem}
.page_08_06{width: 54%;position: absolute;left: 23%;top: 8.1rem}
.page_08_06 p{text-indent: .5rem;font-size: .22rem;font-family: "SourceHanSansCN-Normal";line-height: 1.5em;color: #d6ba7e}

.page_09 .page_02_02 p{text-align: center}
.page_09 p{font-size: .25rem;font-family: "SourceHanSansCN-Normal";line-height: 1.5em;color: #d6ba7e;text-align: left}
.page_09 span{color: #E65E5E}
.page_09_00{width: 25%;position: absolute;left: 6%;top: 2rem}
.page_09_01{width: 70%;position: absolute;left: 15%;top: 2.5rem}
.page_09_02{width: 60%;position: absolute;left: 20%;top: 3rem}
.page_09_03{width: 60%;position: absolute;left: 20%;top: 3.6rem}
.page_09_04{width: 60%;position: absolute;left: 20%;top: 4.2rem}
.page_09_05{width: 37%;position: absolute;left: 46.2%;top: 4.8rem}
.page_09_06{width: 37%;position: absolute;left: 15%;top: 5.6rem}
.page_09_07{width: 31%;position: absolute;left: 52%;top: 7.7rem}
.page_09_07 p{text-align: center}
.page_09_08{width: 40%;position: absolute;left: 30%;top: 8.2rem;opacity: 1}
.page_09_09{width: 14%;position: absolute;left: 44%;top: 9.2rem}



.go{width:5%;position:absolute;left:47.5%;bottom: .1rem;-webkit-animation:go 1.5s linear 0s infinite;}
.go1{width:5%;position:absolute;left:47.5%;bottom: .8rem;-webkit-animation:go 1.5s linear 0s infinite;}



@-webkit-keyframes bigIn {0% {opacity:0;-webkit-transform:scale(2);transform:scale(2)}
50% {opacity:1}}
@keyframes bigIn {0% {opacity:0;-webkit-transform:scale(2);-ms-transform:scale(2);transform:scale(2)}
50% {opacity:1}}
.bigIn {-webkit-animation-name: bigIn;animation-name: bigIn}


.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../images/loading.gif) no-repeat 60% 40% #f9b92e;
    background-size: 4rem 3.2rem;
    z-index: 999999;
    color: #fff;
    font-size: .5rem;
}
.loading p{
    text-align: center;
    width: 100%;
    position: absolute;
    font-family: helvetica "微软雅黑";
    top: 40%;
    transform: translateY(2rem);
}